<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Vue 3</title>
    <!-- kehitysversio, jossa hyödyllistä infoa konsolissa -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- tuotantoversio -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
<div id="app-3">
<button v-on:click="minus">-</button>
<button v-on:click="zero">0</button>
<button v-on:click="plus">+</button>
<p>{{ message }}</p>
</div>

<script>
var speed = 0;
var app3 = new Vue({
    el: '#app-3',
    data: {
        message: ' '
    },
    methods: {
        minus: function () {
            speed--;
            app3.message = "Current speed is " + speed;
        },
        plus: function () {
            speed++;
            app3.message = "Current speed is " + speed;
        },
        zero: function () {
            speed = 0;
            app3.message = "Current speed is " + speed;
        }
    }
});
</script>
</body>
</html>