<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Vue 1</title>
    <!-- kehitysversio, jossa hyödyllistä infoa konsolissa -->
   <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- tuotantoversio -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>

<div id="app-1">
    <p>{{ message }}</p>
    <p><input v-model="message"></p>
</div>

<script>
   var app1 = new Vue({
       el: '#app-1',
          data: {
           message: 'Heippa!'
          }
    });
</script>


</body>
</html>