<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue 5</title>
    <!-- kehitysversio, jossa hyödyllistä infoa konsolissa -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- tuotantoversio -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
<div id="app-5">
    <p>{{ message }}</p>
    <p><input v-model="message" @keyup='charCount()'></p>
    <p>{{ charCount }} characters</p>
</div>

<script>
    var app5 = new Vue({
        el: '#app-5',
        data: {
            message: 'Heippa!',
        },
        computed: {
            charCount: function() {
                return this.message.length;
            }
        }
    });
</script>
</body>
</html>