<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Vue 7</title>
    <!-- tuotantoversio -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
<div id="app-7">
    <ul>
        <li v-for="(user, index) in users" >{{ user.name }}
        <button v-on:click="deleteUser(index)">Delete User</button>
        </li>

    </ul>
    <input v-model="userName" />
    <button v-on:click="addUser">Add User</button>
</div>
<script>
    var app7 = new Vue({
        el: '#app-7',
        data: {
            userName: '',
            users: [
                { name: 'Aatu' },
                { name: 'Beetu' },
                { name: 'Ceetu' },
                { name: 'Deetu' },
            ]
        },
        methods: {
            addUser: function () {
                var newUser = this.userName.trim();
                if (!newUser) {return;}
                this.users.push(
                    {name: newUser}
                );
                this.userName = '';
            },

            deleteUser: function (index) {
                this.users.splice(index, 1);
            }

        }
    });
</script>
</body>
</html>