<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Vue 6</title>
    <!-- kehitysversio, jossa hyödyllistä infoa konsolissa -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- tuotantoversio -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
<div id="app-6">
    <ul>
        <li v-for="user in users">{{ user.name }}</li>
    </ul>
    <input v-model="userName" />
    <button v-on:click="addUser">Add User</button>
    <button v-on:click="deleteUser">Delete User</button>
</div>
<script>
    var app6 = new Vue({
        el: '#app-6',
        data: {
            userName: '',
            users: [
                { name: 'user 1' },
                { name: 'user 2' },
                { name: 'user 3' }
            ]
        },
        methods: {
            addUser: function () {
                var newUser = this.userName.trim();
                if (!newUser) {return;}
                this.users.push(
                    {name: newUser}
                );
                this.userName = '';
            },

            deleteUser: function () {
                this.users.shift();
            }

        }
    });
</script>
</body>
</html>