<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Vue 2</title>
    <!-- kehitysversio, jossa hyödyllistä infoa konsolissa -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- tuotantoversio -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
<div id="app-2">
    <span v-if="seen">Now you see me</span>
    <button v-on:click="Vaihda">Näytä/Piilota</button>

<script>
    var app2 = new Vue({
        el: '#app-2',
        data: {
            seen: true,
        },
        methods: {
            Vaihda: function () {
                if (this.seen === true) {
                    this.seen = false;
                } else {
                    this.seen = true;
                }
            }
        }
    });
</script>
</div>
</body>
</html>