<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Vue 4</title>
    <!-- kehitysversio, jossa hyödyllistä infoa konsolissa -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- tuotantoversio -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
<div id="app-4">
    <ul>
        <li v-for="item in items">{{ item.message }}</li>
    </ul>
        <input v-model="itemMessage" />
        <button v-on:click="addItem">Add new item</button>
</div>
<script>
    var app4 = new Vue({
        el: '#app-4',
        data: {
            itemMessage: '',
            items: [
                { message: 'item 1' },
                { message: 'item 2' },
                { message: 'item 3' }
            ]
        },
        methods: {
            addItem: function () {
                var newItem = this.itemMessage.trim();
                if (!newItem) {return;}
                this.items.push(
                    {message: newItem}
                );
                this.itemMessage = '';
            }
        }
    });
</script>
</body>
</html>