table {
    border-collapse: collapse;
}

p {
 padding-left: 25px;
}

caption, thead, tbody {
    border: 1px solid black;
}

.bordr {
    border-right: 1px solid black;
}

.grey {
    background-color: #cccccc;
}

body {
    font-size: 1.1em;
}
td, th {
    padding-left: 8px;
}

th {
    background-color: red;
    color:white;
}

.upper {
    text-transform: uppercase;
}

caption, thead, .bold {
    font-weight: bold;
}

.smallerf {
    font-size: 0.85em;
}
