body {
    text-align:center;
}

h1 {
    font-size: 5em;
}

img {
    border: 2px solid lightskyblue;
}

img + p {
    font-weight: bold;
    margin-bottom: 50px;
}
h2 {
    font-size: 2.1em;
    margin-bottom: 0;
}

td > p {
    font-style: italic;
    font-size: 1.5em;
    margin-top:0;
}

table {
    margin-left:auto;
    margin-right:auto;
    width:300px;
    border-collapse: collapse;
}

.blue {
    background-color: lightblue;
}

.beige {
    background-color: beige;
}

.orange {
    background-color: lightpink;
}

.bluebord {
    border-top:1px solid black;
    border-bottom:1px solid lightblue;
}

.beigebord {
    border-top:1px solid black;
    border-bottom:1px solid beige;
}

.orangebord {
    border-top:1px solid black;
    border-bottom:1px solid lightpink;
}

.orangebord2 {
    border-bottom:1px solid black;
}