body {
    font-family: "Source Sans Pro Light", serif;
    margin: 50px 300px 100px 300px;
    background-color: lavender;
}

h1 {
    font-family: Verdana, sans-serif;
    text-align: center;
    margin-bottom: 110px;
    margin-top: 70px;
}

img {
    float: left;
    margin-right: 50px;
}

p {
    font-size: 1.2em;
    line-height: 1.6em;
    padding-top: 30px;
    text-align: justify;
}

.a {
    columns: 100px 3;
}

div {
    margin: 0 60px 0 100px;
}
h3 {
    font-family: "Monotype Corsiva",sans-serif;
    font-size: 2em;
    text-align: center;
}
h3 + img {
    position: absolute;
    top: 124%;
    right: 28%;
}
