body {
    font-family: Arial, Verdana, sans-serif;
}

p {
    color: blue;
}

h1.alert {
    font-size: 3em;
}

.alert {
    color: red;
}

p#unique {
    font-size: 0.8em;
}

.uline {
    text-decoration: underline;
}

.basic {
    font-size:0.8em;
    margin-left: 20px;
    line-height: 1.5;
    font-family: "Courier New", serif;
}