body {
    font-family: Arial, Verdana, sans-serif;
}

h1, h2 {
    color: blue;
    font-weight: bold;
}

h1 {
    font-size: 4.0em;
}

ul, ol {
    font-size: 0.8em;
}

p.copyright_notice {
    font-size: 0.8em;
}

p::first-letter {
    font-size:8em;
}

p::first-line {
    font-weight: bold;
}
