input{
    border: 1px solid black;
    background-color: white;
}

input:invalid:not(:placeholder-shown) {
    border: 2px solid red;
    background-color: peachpuff;
}

input:required:valid {
    border: 2px solid green;
    background-color: lightgreen;
}


