body {
    font-family: "Source Sans Pro Light";
    margin: 50px 450px;
}

legend {
    font-size: 1.1em;
    font-weight: bold;
}

fieldset {
    border: 1px solid darkgrey;
}

input[type="submit"] {
    border: 1px solid darkgrey;
    border-radius: 2px;
    background-color: white;
    padding:5px 10px;
    font-size: 1.1em;
}

input[type="submit"]:hover {
    background-color: darkgrey;
    color: white;
    border: 1px solid darkgrey;
    border-radius: 2px;
    font-size: 1.1em;
}

input[type="text"], [type="textarea"], [type="email"]  {
    position:absolute;
    left: 560px;
}

a {
    color: darkgrey;
    margin-left: 10px;
    text-decoration: none;
    font-size: 1.1em;
}

a:hover {
    text-decoration: underline;
}